<nav>
  <div class="au-c-app-chrome">
    <AuToolbar @size="small" class="au-u-padding-bottom-none" as |Group|>
      <Group>
        <span class="au-c-app-chrome__entity">{{this.currentSession.group.classificatie.label}}
          {{this.currentSession.group.naam}}</span>
      </Group>
      <Group>
        <ul class="au-c-list-horizontal au-u-padding-right-tiny">
          {{#unless @editorDocument.isNew}}
          {{#if (and this.updatedOn (not @dirty))}}
          <li class="au-c-list-horizontal__item">
            <span class="au-c-app-chrome__status">
              {{t "utility.saved-on"}} {{human-friendly-date this.updatedOn locale=this.intl.primaryLocale}}
            </span>
          </li>
          {{else}}
          <li class="au-c-list-horizontal__item">
            <span class="au-c-app-chrome__status">
              <AuIcon @icon="alert-triangle" @alignment="left" />
              {{t "utility.unsaved-changes"}}
            </span>
          </li>
          {{/if}}
          {{/unless}}
        </ul>
      </Group>
    </AuToolbar>
    <AuToolbar @size="small" class="au-u-padding-top-none" as |Group|>
      <Group>
        {{#if @editorDocument.isNew}}
        <AuPill @skin="warning">
          <AuIcon @icon="alert-triangle" @alignment="left" />
          {{t "utility.unsaved-concept"}}
        </AuPill>
        {{/if}}
        <EditorDocumentTitle @title={{@editorDocument.title}} @editActive={{@editorDocument.isNew}}
          @onSubmit={{perform this.updateDocumentTitle}} @onCancel={{perform this.resetDocument}}
          @readOnly={{@readOnly}} />
        {{#if this.templateTypeLabel}}
          <AuPill>{{this.templateTypeLabel}}</AuPill>
        {{/if}}
      </Group>
      <Group>
        {{#if this.showFileDropDown}}
          <AuDropdown @title="Bestand acties" @buttonLabel="Bestand opties" @alignment="right">
            {{#if @copyAgendapunt}}
            {{!-- template-lint-disable require-context-role --}}
            <AuButton {{on "click" @copyAgendapunt}} @skin="link" role="menuitem">
              <AuIcon @icon="copy" @alignment="left" />
              {{t "appChrome.copyAgendapoint"}}
            </AuButton>
            {{/if}}
            {{#if @exportHtmlFunction}}
            <AuButton {{on "click" @exportHtmlFunction}} @skin="link" role="menuitem">
              <AuIcon @icon="export" @alignment="left" />
              {{t "utility.export-to-html"}}
            </AuButton>
            {{/if}}
            {{#if @sendToTrash}}
            <AuButton {{on "click" @sendToTrash}} @skin="link" @alert="true" role="menuitem"
              @disabled={{this.isNotAllowedToTrash}}>
              <AuIcon @icon="bin" @alignment="left" />
              {{t "utility.to-recycle-bin"}}
            </AuButton>
            {{/if}}
          </AuDropdown>
        {{/if}}
        {{#if @isPublished}}
        <AuPill @skin="success" @icon="eye">
          {{t "utility.available"}}
        </AuPill>
        {{/if}}

        {{yield to="leadingButtons"}}
        {{#if @save}}
        <AuButton {{on "click" @save.action}} @disabled={{@save.isRunning}}>{{t "utility.save"}}</AuButton>
        {{/if}}
        {{#if @publish}}
        <AuButton {{on "click" @publish.action}} @disabled={{@publish.isRunning}}>{{t "utility.save-and-publish"}}
        </AuButton>
        {{/if}}
      </Group>
    </AuToolbar>
  </div>
</nav>