{{#let (changeset @codelist this.CodelistValidations) as |codelist|}}
  <BreadcrumbsItem as |linkClass|>
    {{#if @codelist.isNew}}
      <LinkTo @route="codelists-management.new" class={{linkClass}}>
        {{t "codelist.crud.new"}}
      </LinkTo>
    {{else}}
      <LinkTo
        @route="codelists-management.edit"
        @model={{@codelist.id}}
        class={{linkClass}}
      >
        {{codelist.label}}
      </LinkTo>
    {{/if}}
  </BreadcrumbsItem>

  <AuToolbar @border="bottom" @size="large">
    <AuToolbar::Group>
      <AuHeading @skin="2">
        {{#if @codelist.isNew}}
          {{t "codelist.crud.new"}}
        {{else}}
          {{t "codelist.crud.edit"}}
        {{/if}}
      </AuHeading>
    </AuToolbar::Group>
  </AuToolbar>

  <div class="au-c-body-container au-c-body-container--scroll"  {{did-insert this.didInsert}}>
    <div>
      {{#let codelist.error.label as |isInvalid|}}
        <p class="au-o-box au-u-padding-bottom-none">
          <AuLabel @error={{isInvalid}} for="label">
            {{t "codelist.attr.label"}}&nbsp;
            <AuPill>
              {{t "utility.required"}}
            </AuPill>
          </AuLabel>
          <AuInput
            @error={{isInvalid}}
            @width="block"
            id="label"
            required="required"
            @value={{codelist.label}}
            {{on "input" (fn this.setCodelistValue codelist "label")}}
          />
          {{#if isInvalid}}
            <AuHelpText>
              {{t "utility.field-required"}}
            </AuHelpText>
          {{/if}}
        </p>
      {{/let}}
      <p class="au-o-box au-u-padding-bottom-none">
        <AuLabel for="label">
          {{t "codelist.attr.type"}}&nbsp;
        </AuLabel>
        <PowerSelect
          @allowClear={{false}}
          @searchEnabled={{false}}
          @options={{this.codelistTypes}}
          @selected={{this.selectedType}}
          @onChange={{this.updateCodelistType}}
          as |type|
        >
          <span class="codelist-type-select-option">{{t
              (concat "codelist.attr.types." type.label)
            }}</span>
        </PowerSelect>
        <br />
      </p>
      <p>
        <table class="au-c-data-table__table">
          <thead>
            <tr class="au-c-data-table__header">
              <th class="data-table__header-title codelist-order-header">{{t "codelist.order-label"}}</th>
              <th class="data-table__header-title" >
                {{t "codelist.attr.options"}}
              </th>
              <th>
                <span class="au-u-hidden-visually">
                  {{t "codelist.crud.delete-option"}}
                </span>
              </th>
            </tr>
          </thead>
          <SortableObjects @tagName={{"tbody"}} @sortableObjectList={{this.options}} @sortEndAction={{this.sortEndAction}} @enableSort={{true}} @useSwap={{true}} @inPlace={{true}}>
            {{#each this.options as |option|}}
              <DraggableObject @content={{option}} @tagName="tr" @isSortable={{true}}>
                <td>
                  <AuButton @icon="drag" @skin="tertiary" @hideText={{true}} class="au-c-button--drag"></AuButton>
                </td>
                <td>
                  <p class="max-w-prose">
                    {{option.label}}
                  </p>
                </td>
                <td class="w-px au-u-padding-right-small">
                  <AuButton
                    @icon="pencil"
                    @skin="secondary"
                    @hideText={{true}}
                    {{on "click" (fn this.startEditOptionProcess option)}}
                  >
                    {{t "utility.edit"}}
                  </AuButton>
                  <AuButton
                    @icon="bin"
                    @alert={{true}}
                    @skin="secondary"
                    @hideText={{true}}
                    {{on "click" (fn this.removeOption option)}}
                  >
                    {{t "utility.delete"}}
                  </AuButton>

                </td>
              </DraggableObject>
            {{/each}}
          </SortableObjects>
          <tfoot>
              <tr>
                <td class="w-px au-u-padding-right-small">
                  <AuButton {{on "click" this.startNewOptionProcess}}>
                    {{t "codelist.crud.add-option"}}
                  </AuButton>
                </td>
              </tr>
            </tfoot>
        </table>
      </p>
    </div>
  </div>

  <AuToolbar @border="top" @size="large">
    <AuToolbar::Group>
      <AuButtonGroup>
        <AuButton
          @disabled={{or (or codelist.isInvalid this.isSaving) (not codelist.label)}}
          {{on "click" (perform this.editCodelistTask codelist)}}
        >
          {{t "utility.save"}}
        </AuButton>
        <AuButton @skin="secondary" {{on "click" this.cancelEditingTask}}>
          {{t "utility.cancel"}}
        </AuButton>
      </AuButtonGroup>
    </AuToolbar::Group>
  </AuToolbar>
  <CodelistOptionForm
    @modalOpen={{this.editModalOpen}}
    @title={{t "codelist.crud.edit-option"}}
    @codelistOption={{this.editOption}}
    @onCancel={{this.endEditOptionProcess}}
    @onSubmit={{this.endEditOptionProcess}}
  />
  <CodelistOptionForm
    @modalOpen={{this.newModalOpen}}
    @title={{t "codelist.crud.add-option"}}
    @codelistOption={{this.newOption}}
    @onCancel={{this.endNewOptionProcess}}
    @onSubmit={{this.submitNewOptionProcess}}
  />
{{/let}}
