{{! template-lint-disable table-groups  }}
<AuToolbar @border='bottom' @size='large'>
  <AuToolbar::Group>
    <AuHeading @skin='2'>
      {{#if @codelist.isNew}}
        {{t 'codelist.crud.new'}}
      {{else}}
        {{t 'codelist.crud.edit'}}
      {{/if}}
    </AuHeading>
  </AuToolbar::Group>
  <AuButtonGroup>
    <AuButton
      @disabled={{(or this.allPristine (not this.allValid))}}
      @loading = {{this.isSaving}}
      @loadingMessage = {{t 'utility.saving'}}
      {{on 'click' (perform this.saveChangesetTask)}}
    >
      {{t 'utility.save'}}
    </AuButton>
    <AuButton @skin='secondary' {{on 'click' this.cancelEditingTask}}>
      {{t 'utility.cancel'}}
    </AuButton>
  </AuButtonGroup>
</AuToolbar>

<div
  class='au-c-body-container au-c-body-container--scroll au-o-flow--large'
  {{did-insert this.didInsert}}
>
  <div class='au-u-1-2@small au-u-1-1'>
    {{#let this.changeset.error.label as |isInvalid|}}
      <p class='au-o-box au-u-padding-bottom-none'>
        <AuLabel @error={{isInvalid}} for='codelist-name-input'>
          {{t 'codelist.attr.label'}}&nbsp;
          <AuPill>
            {{t 'utility.required'}}
          </AuPill>
        </AuLabel>
        <AuInput
          @error={{isInvalid}}
          @width='block'
          id='codelist-name-input'
          required='required'
          placeholder={{t 'utility.type-something-placeholder'}}
          @value={{this.changeset.label}}
          {{on 'input' this.setCodelistLabel}}
        />
        {{#if isInvalid}}
          <AuHelpText>
            {{t 'utility.field-required'}}
          </AuHelpText>
        {{/if}}
      </p>
    {{/let}}
    <p class='au-o-box au-u-padding-bottom-none'>
      <AuLabel for='label'>
        {{t 'codelist.attr.type'}}&nbsp;
      </AuLabel>
      <PowerSelect
        @allowClear={{false}}
        @searchEnabled={{false}}
        @options={{this.codelistTypes}}
        @selected={{this.selectedType}}
        @onChange={{this.updateCodelistType}} as |type|
      >
        <span class='codelist-type-select-option'>
          {{t (concat 'codelist.attr.types.' type.label)}}
        </span>
      </PowerSelect>
      <br />
    </p>
  </div>
  <div>
    <table class='au-c-data-table__table'>
      <thead>
        <tr class='au-c-data-table__header'>
          <th class='data-table__header-title'></th>
          <th class='data-table__header-title'>
            <p>
              {{t 'codelist.options.label'}}
            </p>
            <p class='au-u-muted au-u-light'>
              {{t 'codelist.options.label-explanation'}}
            </p>
          </th>
          {{#if this.isEditingOptions}}
            <th class='data-table__header-title'>
              <p>{{t 'codelist.options.value'}}
              <AuPill>
              {{t 'utility.required'}}
              </AuPill> 
              </p>
            </th>
            <th></th>
          {{else}}
          <th class='data-table__header-title'>
            <AuToolbar as |Group|>
              <Group>{{t 'codelist.options.value'}}</Group>
                <Group><AuButton
                class=''
                {{on 'click' this.startEditingOptions}}
                >{{t 'codelist.crud.edit-table'}}
                </AuButton></Group>
            </AuToolbar>
          </th>
          {{/if}}
        </tr>
      </thead>
      <SortableObjects
        @tagName={{'tbody'}}
        @sortableObjectList={{this.optionsChangesetList.changesets}}
        @sortEndAction={{this.sortEndAction}}
        @enableSort={{true}}
        @useSwap={{true}}
        @inPlace={{true}}
      >
        {{#each this.optionsChangesetList.changesets as |option|}}
          <DraggableObject
            @content={{option}}
            @tagName='tr'
            @isSortable={{true}}
            @dragHandle='.drag-icon-cell'
          >
            <td class='drag-icon-cell' tabindex="-1">
              <AuIcon
                @icon='drag'
                size='large'
                class='au-c-button--drag'
              />
            </td>
            {{#if this.isEditingOptions}}
              <td>
                {{#let option.error.label as |labelError|}}
                <AuInput
                  @error={{labelError}}
                  @value={{option.label}}
                  {{on 'change' (fn this.setOptionLabel option)}}
                />
                 {{#if labelError}}
                    <AuHelpText>
                      {{labelError.validation}}
                    </AuHelpText>
                  {{/if}}
                {{/let}}
              </td>
              <td>
                {{#let option.error.value as |isInvalid|}}
                  <AuInput
                    @error={{isInvalid}}
                    @value={{option.value}}
                    @isError={{option.isInvalid}}
                    placeholder={{t 'utility.type-something-placeholder'}}
                    {{on 'change' (fn this.setOptionValue option)}}
                  />
                  {{#if isInvalid}}
                    <AuHelpText>
                      {{t 'utility.field-required'}}
                    </AuHelpText>
                  {{/if}}
              {{/let}}
              </td>
              <td>
                <AuButton
                  @icon='bin'
                  @alert={{true}}
                  @skin='naked'
                  {{on 'click' (fn this.removeOption option)}}
                >
                  {{t 'utility.delete'}}
                </AuButton>
              </td>
            {{else}}
              <td>{{option.label}}</td>
              <td>{{option.value}}</td>
            {{/if}}  
          </DraggableObject>
        {{/each}}
      </SortableObjects>
      <tfoot>
        {{#if this.isEditingOptions}}
          <th class='au-u-padding-right-small' colspan='4'>
            <AuButton
              @width='block'
              @icon='plus'
              @skin='secondary'
              @disabled={{not this.canAddOption}}
              title={{unless this.canAddOption (t 'codelist.crud.max-options-hit') }}
              {{on 'click' this.addOption}}
            >
              {{t 'codelist.crud.add-option'}}
            </AuButton>
          </th>  
        {{/if}}
      </tfoot>
    </table>
  </div>
</div>