{{#let
  (changeset @codelistOption this.CodelistOptionValidations)
  as |codelistOption|
}}
  <AuModal
    @title={{@title}}
    @modalOpen={{@modalOpen}}
    @closeModal={{@onCancel}}
    @initialFocus="#value"
    as |Modal|
  >
    <form {{on "submit" (perform this.save codelistOption)}}>
      <Modal.Body>
        {{#let codelistOption.error.label as |isInvalid|}}
          <AuLabel @error={{isInvalid}} for="label">
            {{t "codelist.attr.label"}}&nbsp;
            <AuPill>
              {{t "utility.required"}}
            </AuPill>
          </AuLabel>
          <AuInput
            id="label"
            required="required"
            @value={{codelistOption.label}}
            @width="block"
            {{on "input" (fn this.setCodelistOptionValue codelistOption "label")}}
          />
          {{#if isInvalid}}
            <AuHelpText>
              {{t "utility.field-required"}}
            </AuHelpText>
          {{/if}}
        {{/let}}
        {{#let codelistOption.error.value as |isInvalid|}}
          <AuLabel @error={{isInvalid}} for="value">
            {{t "codelist.attr.value"}}&nbsp;
            <AuPill>
              {{t "utility.required"}}
            </AuPill>
          </AuLabel>
          <AuInput
            id="value"
            required="required"
            @value={{codelistOption.value}}
            @width="block"
            {{on "input" (fn this.setCodelistOptionValue codelistOption "value")}}
          />
          {{#if isInvalid}}
            <AuHelpText>
              {{t "utility.field-required"}}
            </AuHelpText>
          {{/if}}
        {{/let}}

      </Modal.Body>
      <Modal.Footer>
        <AuButtonGroup>
          <AuButton
            type="submit"
            @disabled={{or codelistOption.isInvalid codelistOption.isPristine}}
          >
            {{t "utility.save"}}
          </AuButton>
          <AuButton @skin="secondary" {{on "click" @onCancel}}>
            {{t "utility.cancel"}}
          </AuButton>
        </AuButtonGroup>
      </Modal.Footer>
    </form>
  </AuModal>
{{/let}}
