<div class="au-u-margin-bottom">
  <AuFormRow>
    <AuLabel for="label">
      {{t "snippets.edit-snippet-list.form.label.label"}}
    </AuLabel>
    <p class="under-label-text">
      {{t "snippets.edit-snippet-list.form.label.description"}}
    </p>
    <div class="au-u-flex au-u-flex--vertical-center">
      <AuInput
        @error={{this.invalidLabel}}
        id="label"
        required="required"
        value={{@snippetList.label}}
        {{on "input" (perform this.updateLabel)}}
      />
      {{#if this.showSavedTask.isRunning}}
        <div class="snippets-pill-container">
          <AuPill @skin="success" @icon="check">
            {{t "utility.saved"}}
          </AuPill>
        </div>
      {{/if}}
    </div>
  </AuFormRow>
  <AuFormRow>
    <AuLabel for="imported-resources">
      {{t "snippets.edit-snippet-list.imported-resources.heading"}}
    </AuLabel>
    <AuTextarea
      id="imported-resources"
      class="au-u-1-1"
      @disabled={{true}}
      value={{this.importedResources}}
    />
  </AuFormRow>
</div>
<div class="snippets-table">
  <table class="au-c-data-table__table">
    <thead>
      <tr class="au-c-data-table__header">
        <th></th>
        <th>{{t "snippets.edit-snippet-list.table.columns.snippet"}}</th>
        <th>{{t "template-management.created-on"}}</th>
        <th>{{t "template-management.updated-on"}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody {{sortable-group onChange=this.reorderSnippets}}>
      {{#each this.snippets as |snippet|}}
        <tr {{sortable-item distance=0 model=snippet}}>
          <td class="drag-icon-cell" tabindex="-1" {{sortable-handle}}>
            <AuIcon @icon="drag" size="large" class="au-c-button--drag" />
          </td>
          <td>
            <AuLink
              @skin="primary"
              @route="snippet-management.edit.edit-snippet"
              @models={{array @snippetList.id snippet.id}}
            >
              {{snippet.currentVersion.title}}
            </AuLink>
          </td>
          <td>
            {{detailed-date snippet.currentVersion.createdOn}}
          </td>
          <td>
            {{detailed-date snippet.currentVersion.updatedOn}}
          </td>
          <td>
            <AuButton
              @skin="naked"
              @icon="trash"
              @alert={{true}}
              @disabled={{this.invalidLabel}}
              {{on "click" (fn this.openRemoveModal snippet)}}
            >
              {{t "utility.delete"}}
            </AuButton>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<div class="snippets-add-button-container">
  <AuButton
    @icon="add"
    @skin="secondary"
    @width="block"
    @disabled={{or this.invalidLabel @snippetList.isNew}}
    {{on "click" (perform this.createSnippet)}}
    @loading={{this.createSnippet.isRunning}}
  >
    {{t "snippets.edit-snippet-list.snippet-creation.action"}}
  </AuButton>
</div>
<div class="snippet-list-template-table au-u-margin-top-huge">
  <AuHeading @skin="4" class="au-u-margin-bottom">
    {{t 'snippets.edit-snippet-list.connected-templates.heading'}}
  </AuHeading>
  <AuDataTable
    @content={{@snippetList.templates}}
    @noDataMessage={{t 'snippets.edit-snippet-list.connected-templates.table.no-data'}}
    as |s|
  >
    <s.content as |c|>
      <c.header>
        <th>{{t 'snippets.edit-snippet-list.connected-templates.table.columns.template'}}</th>
      </c.header>
      <c.body as |template|>
        <td>
          <AuLink
            @skin="primary"
            @route="template-management.edit"
            @model={{template.id}}
          >
            {{template.currentVersion.title}}
          </AuLink>
        </td>
      </c.body>
    </s.content>
  </AuDataTable>
</div>
<AuModal
  @title={{t "utility.confirmation.body"}}
  @modalOpen={{this.isRemoveModalOpen}}
  @closeModal={{this.closeRemoveModal}}
  as |Modal|
>
  <Modal.Body>
    <p>
      {{t
        'snippets.edit-snippet-list.snippet-deletion.confirm'
        name=this.deletingSnippet.label
        htmlSafe=true
      }}
    </p>
  </Modal.Body>
  <Modal.Footer>
    <AuButton
      @alert={{true}}
      @loading={{this.removeSnippet.isRunning}}
      @loadingText={{t "utility.deleting"}}
      {{on "click" (perform this.removeSnippet)}}
    >
      {{t 'snippets.edit-snippet-list.snippet-deletion.action.long'}}
    </AuButton>
    <AuButton @skin="secondary" {{on "click" this.closeRemoveModal}}>
      {{t "utility.cancel"}}
    </AuButton>
  </Modal.Footer>
</AuModal>