<AuToolbar @size="medium" @skin="tint" @border="bottom" as |Group|>
  <Group>
    <ul class="au-c-list-horizontal au-c-list-horizontal--small">
      <li class="au-c-list-horizontal__item">
        <AuLink @route="index">
          <AuIcon @icon="arrow-left" @alignment="left" />
          {{t "utility.back-to-overview"}}
        </AuLink>
      </li>
      <li class="au-c-list-horizontal__item">
        {{t "codelist.name"}}
      </li>
    </ul>
  </Group>
</AuToolbar>
<AuDataTable
  @content={{this.model.codelists}}
  @fields="Label"
  @noDataMessage={{t "codelist.crud.no-data"}}
  @size={{this.size}}
  @page={{this.page}}
  @sort={{this.sort}} as |s|
>
  <s.menu as |menu|>
    <menu.general>
      <AuToolbar class="au-o-box">
        <AuToolbar::Group>
          <AuHeading @skin="2">
            {{t "codelist.name"}}
          </AuHeading>
        </AuToolbar::Group>
        <AuToolbar::Group class="au-c-toolbar__group--center">
          {{! Copied from the AuDataTable::TextSearch component since that doesn't support calling actions on input}}
          <div class="au-c-data-table__search codelist-label-search">
            <input
              value={{this.label}}
              placeholder={{t "codelist.crud.label-filter"}}
              aria-label={{t "codelist.crud.label-filter"}}
              class="au-c-input au-c-input--block"
              {{on "input" (perform this.updateSearchFilterTask "label")}}
            />
            <span class="au-c-data-table__search-icon">
              <AuIcon @icon="search" @size="large" />
            </span>
          </div>
          <AuLink
            @route="codelists-management.new"
            @skin="button">
            {{t "codelist.crud.new"}}
          </AuLink>
        </AuToolbar::Group>
      </AuToolbar>
    </menu.general>
  </s.menu>
  <s.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @field="label"
        @currentSorting={{this.sort}}
        @label={{t "codelist.attr.label"}}
      />
      <th>{{t "codelist.attr.id"}}</th>
      <AuDataTableThSortable
        @field="createdOn"
        @currentSorting={{this.sort}}
        @label={{t "codelist.attr.created-on"}}
      />
      <th>{{t "codelist.attr.type"}}</th>
      <th></th>
    </c.header>
    <c.body as |codelist|>
      <td>
        <AuLink
          @skin="primary"
          @route="codelists-management.edit"
          @model={{codelist.id}}
        >
          {{codelist.label}}
        </AuLink>
      </td>
      <td>
        {{codelist.id}}
      </td>
      <td>
        {{#if codelist.createdOn}}
          {{detailed-date codelist.createdOn}}
        {{else}}
          {{t "codelist.attr.not-found"}}
        {{/if}}
      </td>
      <td>
        {{#if codelist.type}}
          {{t (concat "codelist.attr.types." codelist.type.label)}}
        {{else}}
          {{t "codelist.attr.types.singleSelect"}}
        {{/if}}
      </td>
      <td>
        <AuButton
          @alert={{true}}
          @icon="bin"
          @hideText={{true}}
          {{on "click" (fn this.openRemoveModal codelist)}}
        />
      </td>
    </c.body>
  </s.content>
</AuDataTable>

<AuModal
  @title={{t 'utility.confirmation.body'}}
  @modalOpen={{this.isRemoveModalOpen}}
  @closeModal={{this.closeRemoveModal}} as |Modal|
>
  <Modal.Body>
    <p>
      {{t 'codelist.crud.confirm-deletion' name=this.modalCodelist.label htmlSafe=true}}
    </p>
  </Modal.Body>
<Modal.Footer>
  <AuButton
    @alert={{true}}
    @loading={{this.removeCodelist.isRunning}}
    @loadingText={{t 'utility.deleting'}}
    {{on 'click' (perform this.removeCodelist)}}
  >
    {{t 'codelist.crud.delete'}}
  </AuButton>
  <AuButton @skin='secondary' {{on 'click' this.closeRemoveModal}}>
    {{t 'utility.cancel'}}
  </AuButton>
</Modal.Footer>
</AuModal>