{{page-title (t "template-edit.edit")}}
<BreadcrumbsItem as |linkClass|>
  <AuLink
    @route="template-management.edit"
    @model={{this.model.documentContainer.id}}
    class={{linkClass}}
  >
    {{t "template-edit.edit"}}
  </AuLink>
</BreadcrumbsItem>
{{#if this.editorDocument}}
  <AppChrome
    @document={{this.editorDocument}}
    @templateTypeId={{this.model.templateTypeId}}
    @save={{hash action=(perform this.save) isRunning=this.save.isRunning}}
    @dirty={{this.dirty}}
    @publish={{hash
      action=(perform this.publish)
      isRunning=this.save.isRunning
    }}
  >
    <:leadingButtons>
      <AuPill
        @skin={{if this.isPublished "success" "default"}}
        @icon="eye"
        @onClickAction={{if this.isPublished this.openConfirmUnpublish}}
        @actionIcon="cross"
        @actionText={{t "template-edit.unpublish"}}
      >
        {{#if this.isPublished}}
          {{#if this.model.templateVersion.validThrough}}
            {{t
              "template-management.available-until"
              date=(human-friendly-date this.unpublishDate)
            }}
          {{else}}
            {{t "template-management.available"}}
          {{/if}}
        {{else}}
          {{t "template-management.not-published"}}
        {{/if}}
      </AuPill>
      {{#if this.activeNode}}
        <this.SnippetListSelect
          @node={{this.activeNode}}
          @controller={{this.editor}}
          @config={{this.config.snippet}}
        />
      {{/if}}
    </:leadingButtons>
  </AppChrome>
  <RdfaEditorContainer
    @rdfaEditorInit={{this.handleRdfaEditorInit}}
    @editorDocument={{this.editorDocument}}
    @busy={{or this.save.isRunning}}
    @busyText={{t "template-edit.saving"}}
    @schema={{this.schema}}
    @nodeViews={{this.nodeViews}}
    @plugins={{this.plugins}}
  >
    <:toolbar as |container|>
      <ResponsiveToolbar>
        <:main as |Tb|>
          <Tb.Group>
            <Plugins::History::Undo @controller={{container.controller}} />
            <Plugins::History::Redo @controller={{container.controller}} />
          </Tb.Group>
          <div class="rdfa-editor-container__small-screen">
            <Tb.Group>
              <Toolbar::Dropdown
                @icon={{this.FormatTextIcon}}
                @direction="horizontal"
                @title={{t "editor-toolbar.format-text"}}
                as |Menu|
              >
                <Plugins::TextStyle::Bold
                  @controller={{container.controller}}
                  @onActivate={{Menu.closeDropdown}}
                />
                <Plugins::TextStyle::Italic
                  @controller={{container.controller}}
                  @onActivate={{Menu.closeDropdown}}
                />
                <Plugins::TextStyle::Strikethrough
                  @controller={{container.controller}}
                  @onActivate={{Menu.closeDropdown}}
                />
                <Plugins::TextStyle::Underline
                  @controller={{container.controller}}
                  @onActivate={{Menu.closeDropdown}}
                />
                <Plugins::TextStyle::Superscript
                  @controller={{container.controller}}
                  @onActivate={{Menu.closeDropdown}}
                />
                <Plugins::TextStyle::Subscript
                  @controller={{container.controller}}
                  @onActivate={{Menu.closeDropdown}}
                />
                <Plugins::Heading::HeadingMenu
                  @controller={{container.controller}}
                  @onActivate={{Menu.closeDropdown}}
                />
              </Toolbar::Dropdown>

              <Plugins::TextStyle::Color
                @controller={{container.controller}}
                @defaultColor="#000000"
              />
              <Plugins::TextStyle::Highlight
                @controller={{container.controller}}
                @defaultColor="#FFEA00"
              />
            </Tb.Group>
          </div>
          <div class="rdfa-editor-container__big-screen">
            <Tb.Group>
              <Plugins::TextStyle::Bold @controller={{container.controller}} />
              <Plugins::TextStyle::Italic
                @controller={{container.controller}}
              />
              <Plugins::TextStyle::Strikethrough
                @controller={{container.controller}}
              />
              <Plugins::TextStyle::Underline
                @controller={{container.controller}}
              />
              <Plugins::TextStyle::Superscript
                @controller={{container.controller}}
              />
              <Plugins::TextStyle::Subscript
                @controller={{container.controller}}
              />
              <Plugins::Heading::HeadingMenu
                @controller={{container.controller}}
              />
              <Plugins::TextStyle::Color
                @controller={{container.controller}}
                @defaultColor="#000000"
              />
              <Plugins::TextStyle::Highlight
                @controller={{container.controller}}
                @defaultColor="#FFEA00"
              />
            </Tb.Group>
          </div>
          {{#if this.supportsTables}}
            <Tb.Group>
              <Plugins::Table::TableMenu @controller={{container.controller}} />
            </Tb.Group>
          {{/if}}
          <Tb.Group>
            <Plugins::List::Unordered @controller={{container.controller}} />
            <Plugins::List::Ordered
              @controller={{container.controller}}
              @enableHierarchicalList={{true}}
            />
          </Tb.Group>
          <Tb.Group>
            <Plugins::Alignment::AlignmentMenu
              @controller={{container.controller}}
            />
          </Tb.Group>
          <Tb.Group>
            <Plugins::Indentation::IndentationMenu
              @controller={{container.controller}}
            />
          </Tb.Group>
          <div class="rdfa-editor-container__small-screen">
            <Tb.Group>
              <Toolbar::Dropdown
                @icon={{this.PlusIcon}}
                @direction="horizontal"
                @title={{t "editor-toolbar.insert"}}
                as |Menu|
              >
                <Plugins::Link::LinkMenu
                  @controller={{container.controller}}
                  @onActivate={{Menu.closeDropdown}}
                />
                <Plugins::Image::InsertMenu
                  @controller={{container.controller}}
                  @onActivate={{Menu.closeDropdown}}
                />
              </Toolbar::Dropdown>
            </Tb.Group>
          </div>
          <div class="rdfa-editor-container__big-screen">
            <Tb.Group>
              <Plugins::Link::LinkMenu @controller={{container.controller}} />
              <Plugins::Image::InsertMenu
                @controller={{container.controller}}
              />
            </Tb.Group>
          </div>
        </:main>
        <:side as |Tb|>
          <div class="au-u-margin-right-small">
            <TableOfContentsPlugin::ToolbarButton
              @controller={{container.controller}}
            />
          </div>
          {{#if (eq this.internalTypeName "decision")}}
            <div class="au-u-margin-right-small">
              <BesluitTypePlugin::ToolbarDropdown
                @controller={{container.controller}}
                @classificatieUri={{this.config.classificatieUri}}
                @options={{this.config.decisionType}}
              />
            </div>
          {{/if}}
          <Tb.Group>
            <Toolbar::Dropdown
              @icon={{this.ThreeDotsIcon}}
              @direction="horizontal"
              @title={{t "editor-toolbar.more"}}
              as |Menu|
            >
              <Plugins::HtmlEditor::Menu
                @controller={{container.controller}}
                @onActivate={{Menu.closeDropdown}}
              />
              <Plugins::Formatting::FormattingToggle
                @controller={{container.controller}}
                @onActivate={{Menu.closeDropdown}}
              />
            </Toolbar::Dropdown>
          </Tb.Group>
        </:side>
      </ResponsiveToolbar>
    </:toolbar>
    <:sidebarRight as |container|>
      <Sidebar as |Sidebar|>

        <Sidebar.Collapsible
          @title={{t "snippet-edit.sidebar.general-nodes"}}
          @expanded={{this.sidebarSettings.general.expanded}}
          @onToggle={{fn this.toggleMenu "general"}}
        >
          {{#if (feature-flag "citerra-poc")}}
            <this.CreateRelationshipButton
              @controller={{container.controller}}
              @node={{this.activeNode}}
              @optionGeneratorConfig={{this.optionGeneratorConfig}}
              @devMode={{true}}
            />
          {{/if}}
          <VariablePlugin::Date::Insert
            @controller={{container.controller}}
            @options={{this.config.date}}
            @templateMode={{true}}
          />
          <LocationPlugin::Insert
            @controller={{container.controller}}
            @config={{this.config.location}}
            @templateMode={{true}}
          />
          <CitationPlugin::CitationInsert
            @controller={{container.controller}}
            @plugin={{this.citationPlugin}}
            @config={{this.config.citation}}
          />
          {{#if this.supportsComments}}
            <TemplateCommentsPlugin::Insert @controller={{container.controller}} />
          {{/if}}
          <SnippetPlugin::SnippetInsertPlaceholder
            @controller={{container.controller}}
            @config={{this.config.snippet}}
          />
          {{#if this.activeNode}}
            <this.SnippetInsert
              @controller={{container.controller}}
              @config={{this.config.snippet}}
              @node={{this.activeNode}}
            />
          {{/if}}
        </Sidebar.Collapsible>
        {{#if (eq this.internalTypeName "decision")}}
          <Sidebar.Collapsible
            @title={{t "snippet-edit.sidebar.decision-nodes"}}
            @expanded={{this.sidebarSettings.decision.expanded}}
            @onToggle={{fn this.toggleMenu "decision"}}
          >
            <this.StructureInsert @controller={{container.controller}} />
            <MandateeTablePlugin::Insert
              @controller={{container.controller}}
              @defaultTag={{this.config.mandateeTable.defaultTag}}
            />
            <RoadsignRegulationPlugin::RoadsignRegulationCard
              @controller={{container.controller}}
              @options={{this.config.roadsignRegulation}}
            />
            <DecisionPlugin::DecisionPluginCard @controller={{container.controller}} />

          </Sidebar.Collapsible>
        {{/if}}

        {{#unless (eq this.internalTypeName "decision")}}
          <Sidebar.Collapsible
            @title={{t "snippet-edit.sidebar.regulatory-statement-nodes"}}
            @expanded={{this.sidebarSettings.regulatoryStatement.expanded}}
            @onToggle={{fn this.toggleMenu "regulatoryStatement"}}
          >
            <DocumentTitlePlugin::InsertTitleCard @controller={{container.controller}} />
            <ArticleStructurePlugin::ArticleStructureCard
              @controller={{container.controller}}
              @options={{this.config.structures}}
            />
          </Sidebar.Collapsible>

          {{#if (feature-flag "citerra-poc")}}

            <Sidebar.Collapsible
              @title="Citerra"
              @expanded={{this.sidebarSettings.citerra.expanded}}
              @onToggle={{fn this.toggleMenu "citerra"}}
            >

              <AuButton
                @skin="link"
                @icon="add"
                {{on "click" (fn this.insertThing "doelgroep")}}
              >{{t "citerra.doelgroep"}}</AuButton>
              <AuButton
                @skin="link"
                @icon="add"
                {{on "click" (fn this.insertThing "voorwaarde")}}
              >{{t "citerra.voorwaarde"}}</AuButton>
              <AuButton
                @skin="link"
                @icon="add"
                {{on "click" (fn this.insertThing "bewijsstuk")}}
              >{{t "citerra.bewijsstuk"}}</AuButton>
              <AuButton
                @skin="link"
                @icon="add"
                {{on "click" (fn this.insertThing "zone")}}
              >{{t "citerra.zone"}}</AuButton>
              <AuButton
                @skin="link"
                @icon="add"
                {{on "click" (fn this.insertThing "duurtijd")}}
              >{{t "citerra.duurtijd"}}</AuButton>
              <AuButton
                @skin="link"
                @icon="add"
                {{on "click" (fn this.insertThing "nummerplaten")}}
              >{{t "citerra.nummerplaten"}}</AuButton>
            </Sidebar.Collapsible>
          {{/if}}
        {{/unless}}
        {{#if (feature-flag "citerra-poc")}}
          <this.VisualiserCard
            @controller={{container.controller}}
            @node={{this.activeNode}}
            @config={{this.visualizerConfig}}
            @expanded={{this.sidebarSettings.rdfaVisualizer.expanded}}
            @onToggle={{fn this.toggleMenu "rdfaVisualizer"}}
          />
        {{/if}}
        <Plugins::Link::LinkEditor @controller={{container.controller}} />
        <this.StructureControl @controller={{container.controller}} />
        <MandateeTablePlugin::Configure
          @controller={{container.controller}}
          @supportedTags={{this.config.mandateeTable.tags}}
        />
        <VariablePlugin::InsertVariableCard
          @controller={{container.controller}}
          @variableTypes={{this.variableTypes}}
          @templateMode={{true}}
        />

        <VariablePlugin::Codelist::Edit
          @controller={{container.controller}}
          @options={{this.codelistEditOptions}}
        />
        <CitationPlugin::CitationCard
          @controller={{container.controller}}
          @plugin={{this.citationPlugin}}
          @config={{this.config.citation}}
        />
        <VariablePlugin::Date::Edit
          @controller={{container.controller}}
          @options={{this.config.date}}
        />
        <VariablePlugin::Autofilled::Edit @controller={{container.controller}} />
        <TemplateCommentsPlugin::EditCard @controller={{container.controller}} />
        <this.NodeControlsCard
          @node={{this.activeNode}}
          @controller={{container.controller}}
          @expanded={{this.sidebarSettings.nodeControls.expanded}}
          @onToggle={{fn this.toggleMenu "nodeControls"}}
        />
        {{#if this.activeNode}}
          <this.RelationshipEditorCard
            @node={{this.activeNode}}
            @controller={{container.controller}}
            @optionGeneratorConfig={{this.optionGeneratorConfigTaskified}}
            @expanded={{this.sidebarSettings.relationshipEditor.expanded}}
            @onToggle={{fn this.toggleMenu "relationshipEditor"}}
          />
          <this.DocImportedResourceEditorCard
            @controller={{container.controller}}
            @optionGeneratorConfig={{this.optionGeneratorConfigTaskified}}
            @expanded={{this.sidebarSettings.docImportedResourceEditor.expanded}}
            @onToggle={{fn this.toggleMenu "docImportedResourceEditor"}}
          />
          <this.ImportedResourceLinkerCard
            @node={{this.activeNode}}
            @controller={{container.controller}}
            @expanded={{this.sidebarSettings.importedResourceLinker.expanded}}
            @onToggle={{fn this.toggleMenu "importedResourceLinker"}}
          />
          <this.ExternalTripleEditorCard
            @node={{this.activeNode}}
            @controller={{container.controller}}
            @expanded={{this.sidebarSettings.externalTripleEditor.expanded}}
            @onToggle={{fn this.toggleMenu "externalTripleEditor"}}
          />
          <this.DebugInfo
            @node={{this.activeNode}}
            @expanded={{this.sidebarSettings.debugInfo.expanded}}
            @onToggle={{fn this.toggleMenu "debugInfo"}}
          />
          <this.AttributeEditor
            @node={{this.activeNode}}
            @controller={{container.controller}}
            @expanded={{this.sidebarSettings.attributeEditor.expanded}}
            @onToggle={{fn this.toggleMenu "attributeEditor"}}
          />
        {{/if}}
        {{! VariablePlugin::TemplateVariableCard is not added on purpose
          as an RB-document creator should not be able to set a "default" codelist option.}}
      </Sidebar>
    </:sidebarRight>
  </RdfaEditorContainer>
{{/if}}
<ConfirmRouteLeave @enabled={{this.dirty}} />
<ConfirmModal
  @title={{t "template-edit.unpublish-confirm"}}
  @confirmMessage={{t "template-edit.unpublish"}}
  @isAlert={{true}}
  @modalOpen={{this.isConfirmUnpublishOpen}}
  @closeModal={{this.closeConfirmUnpublish}}
  @onConfirm={{perform this.unpublishTemplate}}
/>