{{! template-lint-disable no-triple-curlies  }}
{{page-title (t 'publish-page.title-short')}}
<BreadcrumbsItem as |linkClass|>
  <AuLink
    @route='template-management.publish'
    @model={{this.model.container.id}}
    class={{linkClass}}
  >
    {{t 'publish-page.title-short'}}
  </AuLink>
</BreadcrumbsItem>
<AuBodyContainer @scroll='true'>
  <div class='au-o-box'>
    <AuHeading class='au-u-margin-bottom'>
      {{t 'publish-page.title'}}
    </AuHeading>
    <AuPill>{{this.templateTypeLabel}}</AuPill>
    <div
      class='au-o-grid au-o-grid--small au-u-margin-top-small'
      {{did-insert (perform this.fetchPreview)}}
    >
      <div class='au-o-grid__item au-u-1-2@large'>
        <AuCard class="rb-publish-preview-card" @flex={{true}} as |c|>
          <c.header>
            <AuHeading @level='2' @skin='4'>
              {{t 'publish-page.latestversion'}}
            </AuHeading>
          </c.header>
          <c.content class="rb-publish-preview-card__content">
            <div
              class='say-editor say-content'
            >
              {{! template-lint-disable no-triple-curlies }}
              {{{this.model.currentVersion.templateVersion}}}
            </div>
          </c.content>
        </AuCard>
      </div>
      <div class='au-o-grid__item au-u-1-2@large'>
        <AuCard class="rb-publish-preview-card" @flex={{true}} as |c|>
          <c.header>
            <AuHeading @level='2' @skin='4'>
              {{#if this.currentVersionValidThrough}}
                {{t 'publish-page.published-until' date=(detailed-date this.currentVersionValidThrough)}}
              {{else}}
                {{t 'publish-page.publishedversion'}}
              {{/if}}
            </AuHeading>
          </c.header>
          <c.content class="rb-publish-preview-card__content">
            {{#if this.fetchPreview.isRunning}}
              <AuLoader>{{t 'utility.loading' }}</AuLoader>
            {{else}}
              <div
                class='say-editor say-content'
              >
                {{! template-lint-disable no-triple-curlies }}
                {{{this.currentVersion}}}
              </div>
            {{/if}}
          </c.content>
        </AuCard>
      </div>
    </div>
    <AuButton
      class='au-u-margin-top'
      @loading={{this.createPublishedResource.isRunning}}
      @loadingMessage={{t 'utility.loading'}}
      @disabled={{this.createPublishedResource.isRunning}}
      {{on 'click' (perform this.createPublishedResource)}}
    >
      {{t 'publish-page.publish'}}
    </AuButton>
  </div>
</AuBodyContainer>