<div class="au-c-body-container au-c-body-container--scroll">
  <AuDataTable
    @content={{this.model}}
    @fields="label importedResources"
    @noDataMessage={{t "snippets.manage-snippet-lists.table.no-data"}}
    @size={{this.size}}
    @page={{this.page}}
    @sort={{this.sort}}
    as |s|
  >
    <s.menu as |menu|>
      <menu.general>
        <AuToolbar class="au-o-box" as |Group|>
          <Group>
            <AuHeading @skin="2">
              {{t "snippets.manage-snippet-lists.title"}}
            </AuHeading>
          </Group>
          <Group class="au-c-toolbar__group--center">
            <TemplateExporter @snippetListUris={{this.selectedSnippetLists}} />
            <TemplateImporter @onSuccess={{this.refresh}}/>
            <div class="au-c-data-table__search">
              <SearchForm
                @value={{this.searchQuery}}
                @placeholder={{t
                  "snippets.manage-snippet-lists.search.placeholder"
                }}
                @onInput={{this.updateSearchQuery}}
                @onSearch={{this.search}}
              />
            </div>
            <AuLink @skin="button" @route="snippet-management.new">
              {{t "snippets.manage-snippet-lists.make-new"}}
            </AuLink>
          </Group>
        </AuToolbar>
      </menu.general>
    </s.menu>
    <s.content as |c|>
      <c.header>
        <th>
          {{#let (unique-id) as |id|}}
            <AuCheckbox
              id={{id}}
              @checked={{this.selectAllChecked}}
              {{on "click" this.onSelectAllChange}}
            />
          {{/let}}
        </th>
        <AuDataTableThSortable
          @field=":no-case:label"
          @currentSorting={{this.sort}}
          @label={{t "snippets.manage-snippet-lists.table.columns.label"}}
        />
        <th>{{t "snippets.manage-snippet-lists.table.columns.id"}}</th>
        <th>{{t "snippets.manage-snippet-lists.table.columns.imported"}}</th>
        <th></th>
      </c.header>
      <c.body as |snippetList|>
        <td>
          {{#let (unique-id) as |id|}}
            <AuCheckbox
              id={{id}}
              value={{snippetList.uri}}
              @checked={{this.isSelected snippetList.uri}}
              {{on "click" this.onSnippetListSelectionChange}}
            />
          {{/let}}
        </td>
        <td>
          <AuLink
            @skin="primary"
            @route="snippet-management.edit"
            @model={{snippetList.id}}
          >
            {{snippetList.label}}
          </AuLink>
        </td>
        <td>
          {{snippetList.id}}
        </td>
        <td>
          {{snippetList.importedResources}}
        </td>
        <td>
          <AuButton
            @skin="naked"
            @icon="trash"
            @alert={{true}}
            {{on "click" (fn this.openRemoveModal snippetList)}}
          >
            {{t "utility.delete"}}
          </AuButton>
        </td>
      </c.body>
    </s.content>
  </AuDataTable>
</div>
<AuModal
  @title={{t "utility.confirmation.body"}}
  @modalOpen={{this.isRemoveModalOpen}}
  @closeModal={{this.closeRemoveModal}}
  as |Modal|
>
  <Modal.Body>
    <p>
      {{t
        "snippets.manage-snippet-lists.snippet-list-deletion.confirm"
        name=this.deletingSnippetList.label
        htmlSafe=true
      }}
    </p>
  </Modal.Body>
  <Modal.Footer>
    <AuButton
      @alert={{true}}
      @loading={{this.removeSnippetList.isRunning}}
      @loadingMessage={{t "utility.deleting"}}
      {{on "click" (perform this.removeSnippetList)}}
    >
      {{t "snippets.manage-snippet-lists.snippet-list-deletion.action.long"}}
    </AuButton>
    <AuButton @skin="secondary" {{on "click" this.closeRemoveModal}}>
      {{t "utility.cancel"}}
    </AuButton>
  </Modal.Footer>
</AuModal>