{{! template-lint-disable no-triple-curlies  }}
{{page-title (t 'publish-page.title-short')}}
<BreadcrumbsItem as |linkClass|>
  <AuLink
    @route='templates-management.publish'
    @model={{this.model.container.id}}
    class={{linkClass}}
  >
    {{t 'publish-page.title-short'}}
  </AuLink>
</BreadcrumbsItem>
<AuBodyContainer @scroll='true'>
  <div class='au-o-box'>
    <AuHeading class='au-u-margin-bottom'>
      Maak sjabloon beschikbaar
    </AuHeading>
    <AuPill>{{this.templateType.value}}</AuPill>
    <div
      class='au-o-grid au-o-grid--small au-u-margin-top-small'
      {{did-insert (perform this.fetchPreview)}}
    >
      <div class='au-o-grid__item au-u-1-2@large'>
        <AuCard @flex={{true}} as |c|>
          <c.header>
            <AuHeading @level='2' @skin='4'>
              {{t 'publish-page.latestversion'}}
            </AuHeading>
          </c.header>
          <c.content>
            <div
              class='say-editor say-content rdfa-annotations rdfa-annotations-highlight rdfa-annotations-hover'
            >
              {{! template-lint-disable no-triple-curlies }}
              {{{this.model.templateVersion}}}
            </div>
          </c.content>
        </AuCard>
      </div>
      <div class='au-o-grid__item au-u-1-2@large'>
        <AuCard @flex={{true}} as |c|>
          <c.header>
            <AuHeading @level='2' @skin='4'>
              {{t 'publish-page.publishedversion'}}
            </AuHeading>
          </c.header>
          <c.content>
            {{#if this.fetchPreview.isRunning}}
              <AuLoader />
            {{else}}
              <div
                class='say-editor say-content rdfa-annotations rdfa-annotations-highlight rdfa-annotations-hover'
              >
                {{! template-lint-disable no-triple-curlies }}
                {{{this.currentVersion}}}
              </div>
            {{/if}}
          </c.content>
        </AuCard>
      </div>
    </div>
    <AuButton
      class='au-u-margin-top'
      @loading={{this.createPublishedResource.isRunning}}
      @disabled={{this.createPublishedResource.isRunning}}
      {{on 'click' (perform this.createPublishedResource)}}
    >
      {{t 'publish-page.publish'}}
    </AuButton>
  </div>
</AuBodyContainer>