  {{page-title  
    (concat
        (t "utility.appName") (if this.showEnvironment (concat ' - ' this.environmentName))
      )
  }}
<AuApp class='{{if this.showEnvironment "au-c-app--environment"}}'>
  {{#if this.showEnvironment}}
    <EnvironmentBanner
      @environmentName={{this.environmentName}}
      @applicationName={{t "utility.appName"}}
    />
  {{/if}}
  <AuMainHeader @homeRoute="index" @appTitle="Reglementaire Bijlagen">
    {{#if this.session.isAuthenticated}}
    <AuDropdown @title="{{this.currentSession.user.firstName}} {{this.currentSession.user.familyName}} - {{this.currentSession.group.classification.label}} {{this.currentSession.group.name}}" @buttonLabel="Account settings" @alignment="right">
      <Acmidm::Switch as |acmidm|>
        <AuButton @loading={{acmidm.isSwitching}} class="au-c-button au-c-button--tertiary" role="menuitem" {{on "click" acmidm.switch}}>
          <AuIcon @icon="switch" @alignment="left" />{{t "auth.switchUser"}}
        </AuButton>
      </Acmidm::Switch>
      <button type="button" class="au-c-button au-c-button--tertiary" role="menuitem" {{on "click" this.logout}}>
        <AuIcon @icon="logout" @alignment="left" />{{t "auth.logout"}}
      </button>
    </AuDropdown>
    {{else}}
        <AuLink @route="login">
          Login
        </AuLink>
    {{/if}}
  </AuMainHeader>
  {{outlet}}
</AuApp>
