{{page-title
  (concat
    (t "utility.app-name") (if this.showEnvironment (concat ' - ' this.environmentName))
  )
}}
<AuApp class='{{if this.showEnvironment "au-c-app--environment"}}'>
  <AuMainContainer class="header-main-container" as |m|>
    <m.content @scroll={{false}}>
      {{#if this.showEnvironment}}
        <EnvironmentBanner
          @environmentName={{this.environmentName}}
          @applicationName={{t "utility.app-name"}}
        />
      {{/if}}
      <AuToaster @position="top" />
      <AuMainHeader @homeRoute="index" @appTitle={{t "utility.app-name"}}>
        {{#if this.session.isAuthenticated}}
          <AuDropdown @title="{{this.currentSession.user.firstName}} {{this.currentSession.user.familyName}} - {{this.currentSession.group.classification.label}} {{this.currentSession.group.name}}" @buttonLabel="Account settings" @alignment="right">
            <button type="button" class="au-c-button au-c-button--tertiary" role="menuitem" {{on "click" this.logout}}>
              <AuIcon @icon="logout" @alignment="left" />{{t "auth.logout"}}
            </button>
          </AuDropdown>
        {{else}}
          <AuLink @route="login">
            {{t "auth.login"}}
          </AuLink>
        {{/if}}
      </AuMainHeader>
    </m.content>
  </AuMainContainer>
  {{outlet}}
</AuApp>