<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-2-5@medium">
        <div class="au-c-content au-u-margin-bottom">
          <AuHeading @skin="2">
            {{t "utility.app-name"}}
          </AuHeading>
          <p></p>
        </div>
      </div>
    </div>
    <ul class="au-o-grid au-o-grid--small">
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <AuCard @flex={{true}} as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="draft">
            <AuHeading @level="2" @skin="4">
              {{t "landing-page.templates.title"}}
            </AuHeading>
          </c.header>
          <c.content>
            <p>
              {{t "landing-page.templates.content"}}
            </p>
          </c.content>
          <c.footer>
            <AuLink
              @route="templates-management"
              @skin="button">
              {{t "landing-page.templates.button"}}
            </AuLink>
          </c.footer>
        </AuCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <AuCard @flex={{true}} as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="alert-triangle">
            <AuHeading @level="2" @skin="4">
              {{t "landing-page.codelists.title"}}
            </AuHeading>
          </c.header>
          <c.content>
            <p>
              {{t "landing-page.codelists.content"}}
            </p>
          </c.content>
          <c.footer>
            <AuLink
              @route="codelist-management"
              @skin="button">
              {{t "landing-page.codelists.button"}}
            </AuLink>
          </c.footer>
        </AuCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <AuCard @flex={{true}} as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="ordered-list">
            <AuHeading @level="2" @skin="4">
              {{t "landing-page.snippets.title"}}
            </AuHeading>
          </c.header>
          <c.content>
            <p>
              {{t "landing-page.snippets.content"}}
            </p>
          </c.content>
          <c.footer>
            <AuLink
              @route="snippet-management"
              @skin="button">
              {{t "landing-page.snippets.button"}}
            </AuLink>
          </c.footer>
        </AuCard>
      </li>
    </ul>
  </div>
</div>
