{{page-title (t "reglementList.pageTitle")}}
<AuToolbar @size="medium" @skin="tint" @border="bottom" as |Group|>
  <Group>
    <ul class="au-c-list-horizontal au-c-list-horizontal--small">
      <li class="au-c-list-horizontal__item">
        <AuLink @linkRoute="index">
          <AuIcon @icon="arrow-left" @alignment="left" />
          {{t "utility.backToOverview"}}
        </AuLink>
      </li>
      <li class="au-c-list-horizontal__item">
        {{t "reglementList.pageTitle"}}
      </li>
    </ul>
  </Group>
</AuToolbar>
<AuDataTable
  @content={{this.model}}
  @isLoading={{this.isLoadingModel}}
  @noDataMessage={{t 'reglementList.noDataMessage'}}
  @sort={{this.sort}}
  @page={{this.page}}
  @size={{this.size}} as |table|>
  <table.menu as |menu|>
    <menu.general>
      <AuToolbar class="au-o-box" @size="large">
        <AuToolbar::Group>
          <AuHeading @skin="2">
            {{t "reglementList.pageTitle"}}
          </AuHeading>
        </AuToolbar::Group>
        <AuToolbar::Group class="au-c-toolbar__group--center">
          <div class="au-c-data-table__search codelist-label-search">
            <input
              value={{this.title}}
              placeholder={{t "reglementList.crud.labelFilter"}}
              class="au-c-input au-c-input--block"
              {{on "input" (perform this.updateSearchFilterTask "title")}}
            />
            <span class="au-c-data-table__search-icon">
              <AuIcon @icon="search" @size="large" />
            </span>
          </div>
          {{#unless this.readOnly}}
            <AuButton @icon="add" @iconAlignment="left"  {{on 'click' this.startCreateReglementFlow}}>{{t "reglementList.new"}}</AuButton>
          {{/unless}}
        </AuToolbar::Group>
      </AuToolbar>
    </menu.general>
  </table.menu>
  <table.content as |c|>
    <c.header>
      <AuDataTableThSortable @field="currentVersion.title" @currentSorting={{this.sort}} @label={{t 'reglementList.title'}} />
      <AuDataTableThSortable @field="currentVersion.createdOn" @currentSorting={{this.sort}} @label={{t 'reglementList.createdOn'}} />
      <AuDataTableThSortable @field="currentVersion.updatedOn" @currentSorting={{this.sort}} @label={{t 'reglementList.updatedOn'}} />
      <AuDataTableThSortable @field="publishedVersion.currentVersion.created" @currentSorting={{this.sort}} @label={{t 'reglementList.publishDate'}} />
      <th></th>
    </c.header>
    <c.body as |documentContainer|>
      <td>
        <LinkTo @route="edit" @model={{documentContainer.id}} class="au-c-link">{{documentContainer.currentVersion.title}}</LinkTo>
      </td>
      <td>{{detailed-date documentContainer.currentVersion.createdOn}}</td>
      <td>{{detailed-date documentContainer.currentVersion.updatedOn}}</td>
      <td>
        {{#if documentContainer.publishedVersion.currentVersion.created}}
          {{ detailed-date documentContainer.publishedVersion.currentVersion.created }}
        {{else}}
          {{t "reglementList.notFound"}}
        {{/if}}
      </td>
      <td>
        <AuButton
          @icon="bin"
          @alert={{true}}
          @skin="secondary"
          @hideText={{true}}
          {{on "click" (fn this.startRemoveReglementFlow documentContainer)}}
        >
          {{t "utility.delete"}}
        </AuButton>
      </td>
    </c.body>
  </table.content>
</AuDataTable>
<AuModal
  @title={{t "reglementList.createModal.title"}}
  @modalOpen={{this.createReglementModalIsOpen}}
  @closeModal={{this.cancelCreateReglement}}
  as |Modal|
>
  <Modal.Body>
    <form class="au-o-flow" id="create-meeting-form" {{on "submit" (perform this.saveReglement)}}>
      <AuLabel
        for={{id}}
      >
        {{t "reglementList.title"}}
      </AuLabel>
      <AuInput @value={{this.editorDocument.title}} @width="block" id={{id}} type="text" />
    </form>
  </Modal.Body>
  <Modal.Footer>
    <AuButtonGroup>
      <button
        class="au-c-button"
        form="create-meeting-form"
        type="submit"
      >
        {{t "reglementList.createModal.save"}}
      </button>
      <AuButton {{on "click" this.cancelCreateReglement}} @skin="secondary">
        {{t "reglementList.createModal.cancel"}}
      </AuButton>
    </AuButtonGroup>
  </Modal.Footer>
</AuModal>
<AuModal
  @title={{t "reglementList.removeModal.title"}}
  @modalOpen={{this.removeReglementModalIsOpen}}
  @closeModal={{this.cancelRemoveReglement}}
  as |Modal|
>
  <Modal.Footer>
    <AuButtonGroup>
      <AuButton {{on "click" (perform this.submitRemoveReglement)}} @skin="primary">
        {{t "reglementList.removeModal.remove"}}
      </AuButton>
      <AuButton {{on "click" this.cancelRemoveReglement}} @skin="secondary">
        {{t "reglementList.removeModal.cancel"}}
      </AuButton>
    </AuButtonGroup>
  </Modal.Footer>
</AuModal>
