{{page-title "List"}}
{{!-- <AuMainHeader @homeRoute="index" @appTitle="Reglementaire Bijlagen">
  <AuDropdown @title="{{this.currentSession.user.firstName}} {{this.currentSession.user.familyName}} - {{this.currentSession.group.classification.label}} {{this.currentSession.group.name}}" @buttonLabel="Account settings" @alignment="right">
    <Acmidm::Switch as |acmidm|>
      <AuButton @loading={{acmidm.isSwitching}} class="au-c-button au-c-button--tertiary" role="menuitem" {{on "click" acmidm.switch}}>
        <AuIcon @icon="switch" @alignment="left" />Wissel van bestuurseenheid
      </AuButton>
    </Acmidm::Switch>
    <button type="button" class="au-c-button au-c-button--tertiary" role="menuitem" {{on "click" this.logout}}>
      <AuIcon @icon="logout" @alignment="left" />Afmelden
    </button>
  </AuDropdown>
</AuMainHeader> --}}
<AuButton
  {{on 'click' (perform this.createReglement)}}
>
  Add Reglement
</AuButton>
{{#each model as |reglement|}}
  {{#if reglement.id}}
    <p>
      Reglement: {{reglement.id}} 
      <AuLink @route="edit" @model={{reglement.id}} @skin="button">Edit</AuLink>
      <AuButton {{on 'click' (perform this.deleteReglement reglement.id)}}>Delete</AuButton>
    </p>
  {{/if}}
{{/each}}
