<StaticPage>
  <div class="au-o-layout au-o-region-large">
    <MockLogin as |login|>
      {{#if login.isLoading}}
        <AuLoader>{{t 'utility.loading' }}</AuLoader>
      {{else}}
        {{#if login.errorMessage}}
          {{login.errorMessage}}
        {{/if}}
        <AuHeading @skin="4" class="au-u-margin-bottom">{{t "auth.mock.select-user"}}</AuHeading>
        <ul>
          {{#each this.accounts as |account|}}
            <li>
              <div
                class="au-o-box au-o-box--small au-c-card au-u-margin-bottom-small"
              >
                {{#let (await (this.getGroup account)) as |group|}}
                  <AuButton
                    @skin="link"
                    {{on
                      "click"
                      (fn login.login account.id group.id)
                    }}
                  >
                    <strong>
                      {{account.user.firstName}}
                      {{account.user.familyName}}
                      -&nbsp;
                    </strong>
                    {{group.name}}
                  </AuButton>
                {{/let}}
              </div>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </MockLogin>
  </div>
</StaticPage>
