{{page-title 'Publish'}}
<AuBodyContainer @scroll="true">
  <div class='au-o-box'>
    <AuHeading class="au-u-margin-bottom">Tekst</AuHeading>
    <div
      class='au-o-grid au-o-grid--small'
      {{did-insert (perform this.fetchPreview)}}
    >
      <div class='au-o-grid__item au-u-1-2@large'>
        <AuCard @flex={{true}} as |c|>
          <c.header>
            <AuHeading @level='2' @skin='4'>
              Nieuwe versie
            </AuHeading>
          </c.header>
          <c.content>
            {{{this.model.templateVersion}}}
          </c.content>
        </AuCard>
      </div>
      <div class='au-o-grid__item au-u-1-2@large'>
        <AuCard @flex={{true}} as |c|>
          <c.header>
            <AuHeading @level='2' @skin='4'>
              Beschikbare Versie
            </AuHeading>
          </c.header>
          <c.content>
            {{#if this.fetchPreview.isRunning}}
              <AuLoader />
            {{else}}
              {{{this.currentVersion}}}
            {{/if}}
          </c.content>
        </AuCard>
      </div>
    </div>
    <AuButton
      class="au-u-margin-top"
      @loading={{this.createPublishedResource.isRunning}}
      @disabled={{this.createPublishedResource.isRunning}}
      {{on "click" (perform this.createPublishedResource)}}
    >
      {{t "publishPage.publish"}}
    </AuButton>
  </div>
</AuBodyContainer>
