{{!-- template-lint-disable no-triple-curlies  --}}
{{page-title 'Publish'}}
<AuToolbar @size="small" class="au-u-padding-bottom-none" as |Group|>
  <Group>
    <ul class="au-c-list-horizontal au-c-list-horizontal--small">
      <li class="au-c-list-horizontal__item">
        <AuLink @route="edit" @model={{this.model.container.id}} >
          <AuIcon @icon="arrow-left" @alignment="left" />
          {{t "publish-page.back"}}
        </AuLink>
      </li>
      <li class="au-c-list-horizontal__item">
        {{t "publish-page.title-short"}}
      </li>
    </ul>
  </Group>
</AuToolbar>
<AuBodyContainer @scroll="true">
  
  <div class='au-o-box'>
    <AuHeading class="au-u-margin-bottom">{{t "publish-page.title"}}</AuHeading>
    <div class='au-o-grid au-o-grid--small' {{did-insert (perform this.fetchPreview)}}>
      <div class='au-o-grid__item au-u-1-2@large'>
        <AuCard @flex={{true}} as |c|>
          <c.header>
            <AuHeading @level='2' @skin='4'>
              {{t "publish-page.latestversion"}}
            </AuHeading>
          </c.header>
          <c.content>
            <div class="say-editor rdfa-annotations rdfa-annotations-highlight rdfa-annotations-hover">
              {{{this.model.templateVersion}}}
            </div>
          </c.content>
        </AuCard>
      </div>
      <div class='au-o-grid__item au-u-1-2@large'>
        <AuCard @flex={{true}} as |c|>
          <c.header>
            <AuHeading @level='2' @skin='4'>
              {{t "publish-page.publishedversion"}}
            </AuHeading>
          </c.header>
          <c.content>
            {{#if this.fetchPreview.isRunning}}
            <AuLoader />
            {{else}}
            <div class="say-editor rdfa-annotations rdfa-annotations-highlight rdfa-annotations-hover">
              {{{this.currentVersion}}}
            </div>
            {{/if}}
          </c.content>
        </AuCard>
      </div>
    </div>
    <AuButton class="au-u-margin-top" @loading={{this.createPublishedResource.isRunning}}
      @disabled={{this.createPublishedResource.isRunning}} {{on "click" (perform this.createPublishedResource)}}>
      {{t "publish-page.publish"}}
    </AuButton>
  </div>
</AuBodyContainer>
